# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# IDE files
.idea/

# Distribution directories
dist/

# Dependency directories
node_modules/

# Coverage files
*.lcov
